<app-navbar
  *ngIf="showChrome && auth.authReady()"
  [title]="navTitle"
  [subtitle]="navSubtitle"
  [showBack]="showBack"
  [showHistory]="showHistory"
  [showInfo]="showInfo"
  [showAnalytics]="showAnalytics"
  [showShoppingList]="showShoppingList"
  [showViewToggle]="showViewToggle"
  [viewMode]="currentViewMode()"
  [showSaveWorkout]="showSaveWorkout"
  [saveStatus]="workoutState.saveStatus()"
  [showSettings]="showSettings"
  (backClick)="onBack()"
  (historyClick)="onHistory()"
  (infoClick)="onInfo()"
  (analyticsClick)="onAnalytics()"
  (shoppingListClick)="onShoppingList()"
  (viewModeChange)="onViewModeChange($event)"
  (saveWorkoutClick)="onSaveWorkoutClick()"
  (settingsClick)="onSettingsClick()">
</app-navbar>

<div class="content" [class.no-chrome]="!showChrome">
  <div class="wrap">
    <router-outlet></router-outlet>
  </div>
</div>

<app-rest-timer *ngIf="showChrome && auth.authReady()"></app-rest-timer>
<app-confirm-dialog></app-confirm-dialog>
<app-toast></app-toast>
<app-tabbar *ngIf="showChrome && auth.authReady()"></app-tabbar>
