<div *ngIf="!hasAnyDietData" class="history-empty">
  Il tuo coach non ha ancora caricato il tuo piano alimentare.<br>
  Torna a controllare più tardi.
</div>

<ng-container *ngIf="hasAnyDietData">
  <p class="sectiontitle">Piani alimentari</p>

  <div class="grouplist">
    <div class="daycard press-fx diet-card" *ngFor="let card of cards" (click)="openCard(card)">
      <div class="badge">
        <lucide-icon name="circle-plus" [size]="18"></lucide-icon>
      </div>
      <div class="info">
        <div class="lbl">{{ card.plan.name }}</div>
        <div class="meta">{{ card.itemCount }} alimenti</div>
      </div>
      <span class="chev">
        <lucide-icon name="chevron-right" [size]="13"></lucide-icon>
      </span>
    </div>
  </div>
</ng-container>
